<div class="signup">
 <!--  <form name="user" id="phone" action="/users/create" method="post">
    <input type='text' name="number"> 
    <input type="submit" value="Submit"> -->
    <%= form_for @user do |f| %>
<%= f.text_field :phone_number %>

<%= f.submit 'Submit' %>
<% end %>
</div>



