<div class="signup">
  <form name="user_phone" id="phone" action="/users/create" method="post">
    <input type='text' name="phone_number"> 
    <input type="submit" value="Submit">
   
  </form>
</div>



