<div class="signup">
	<h4 id="sign_up_message">Sign up to get notifications.</h4>
  <form name="user" id="user_create" action="/users" method="post">
    <input type='text' name="name" placeholder="your name" id="signin_name" required> 
    <input type='tel' name="phone_number"  value= "+1" placeholder="no spaces, i.e. 5551239999" maxlength="12" id="signin_phone" required >
    <input type='password' name="password" placeholder="password" id="signin_password" required >
    <input type="submit" value="Submit">
  </form>
</div>