<div class="signup">
	<h4 id="sign_up_message">Sign up to start receiving concert notifications.</h4>
  <form name="user" id="user_create" action="/users" method="post">
    <input type='text' name="name" placeholder="name" id="signin_name" required> 
    <input type='tel' name="phone_number" placeholder="phone number (numbers only)" maxlength="10" id="signin_phone" required>
    <input type='password' name="password" placeholder="password" id="signin_password" required >
    <input type="submit" id="signup_button" value="Submit">
  </form>
</div>