html { 
  background: url(liveshowbackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.search-band-container {
	position: fixed;
	width: 50%;
	top: 50%;
	left: 25%;
	height: 500px;
}*/

input:focus {
  outline: none;
}

input[type=text] {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	font-size: 2.8em;
	text-indent: 15px;
}

#search_box {
	position: fixed;
	width: 50%;
	height: 65px;
	top: 50%;
	left: 25%;
	border-radius: 10px;
	border-style: none;
	opacity: 0.85;
	margin-bottom: 15px;
}

#search_box:focus {
	opacity: 1.0;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 8px rgba(255,255,255, 0.8);
}

#search_message {
	position: fixed;
	width: 40%;
	top: 60%;
	left: 30%;
	text-align: center;
	color: white;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.0625em;
	text-shadow: 0px 0px 4px black , 0px 0px 4px black, -1px 0px 3px black, 
  0px -1px 3px black, 1px 2px 6px black;
  font-size: 1.5em;
}


#band_container {
	position: fixed;
	width: 50%;
	top: 60%;
	left: 25%;
  display: none;
  background-color: white;
  background: rgba(255, 255, 255, .9);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#add_band {
	float: right;
	margin-right: 20px;
	color: white;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	padding: 4px 6px;
	background-color: #858585;
	opacity: 1.0;
	border-radius: 3px;
}


