html, body { 
  background: url(liveshowbackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body, html {
    margin:         0;
    padding:        0;
}

div.overlay {
    display:        table;
    position:       fixed;
    top:            0;
    left:           0;
    width:          100%;
    height:         100%;
    background-color: black;
    opacity: 0.75;
}

div.overlay p {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: white;
}


div.overlay > div {
    display:        table-cell;
    width:          100%;
    height:         100%;
    text-align:     center;
    vertical-align: middle;
}


.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.logo_and_tag {
  position: absolute;
  width: 28em;
  width: 31vw;
  height: auto;
  top: 20pt; 
  left: 24pt;
  display: inline;
}

#logo {
  width: 12em;
  width: 13vw;
  float: left;
  /*-webkit-filter: drop-shadow(8px 8px 6px rgba(0,0,0,0.5));
  filter: url(shadow.svg#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,
  Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}

#slogan {
  color: white;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.3em;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 1.2px;
  float: right;
  margin-top: .95em;
  text-shadow: 2px 2px 4px #1C1C1C;
}

.search_container {
 position: fixed;
 width: 50%;
 top: 44%;
 left: 25%;
}

.search_with_faves {
  position: fixed;
  width: 50%;
  top: 44%;
  left: 12.5%;
}


/*SEARCH BOX STYLING*/


/*.search-band-container {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 25%;
  height: 500px;
}*/

input:focus {
  outline: none;
}


input[type=text] {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  text-indent: 15px;
  font-size: 2.8em;
  font-size: 3vw;
}

#user_create input[type=text] {
	font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  text-indent: 5px;
  font-size: 1.3em;
  font-size: 1.3vw;
}


#search_box {
  position: fixed;
  width: 50%;
  height: 65px;
  height: 10vh;
  border-style: none;
  opacity: 0.85;
  margin-bottom: 0.1em;
}


#search_box::-webkit-input-placeholder { color:#C2C2C2; font-style: italic; font-size: 1em; }
#search_box:-ms-input-placeholder { color:#C2C2C2; font-style: italic; font-size: 1em; }
#search_box input:-moz-placeholder { color:#C2C2C2; font-style: italic; font-size: 1em; }

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.2s ease;
  opacity: 0;
}


#search_box:focus {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .5);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .5);
  box-shadow: 0px 0px 15px 8px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes fadein {
  from {
  opacity:0;
  }
  to {
  opacity:1;
  }
}

#search_message {
  position: fixed;
  width: 50%;
  top: 57%;
  text-align: center;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.0625em;
  text-shadow: 0px 0px 4px black , 0px 0px 4px black, -1px 0px 3px black,
  0px -1px 3px black, 1px 2px 6px black;
  font-size: 1.5em;
  font-size: 1.75vw;
  -webkit-animation:fadein .5s;
}

.login {
 position: fixed;
 bottom: 5%;
 width: 50%;
 text-align: center;
 color: white;
 font-family: 'Roboto', Arial, sans-serif;
 font-weight: 200;
 letter-spacing: 0.0625em;
 text-shadow: 0px 0px 4px black , 0px 0px 4px black, -1px 0px 3px black,
 0px -1px 3px black, 1px 2px 6px black;
 font-size: 1.0em;
 font-size: 1.25vw;
}


#login_link:link, #login_link:visited {
  color: #ffff00
}

#login_link:hover {
  color: white
}

.suggest_pane{
  width: 50%;
}

.suggest_list li{
  font-family: 'Roboto', Arial, sans-serif !important;
}

.suggest_list li:nth-child(n+6){
  visibility: hidden;
}

.suggest_status{
  visibility: hidden;
}

#band_container {
  position: fixed;
  width: 50%;
  height: auto;
  top: 57%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 10px;
  border: 1px solid gray;
}



.band_name {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 55%;
  max-height: 100px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 3em;
  font-size: 3.5vw;
  font-style: italic;
  color: white;
  text-align: center;
  line-height: 105%;
}

.band_image {
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px; 
	width: 40%; 
}



#add_band {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  padding: 4px 8px;
  background-color: #858585;
  opacity: 1.0;
  border-radius: 3px;
  width: 14%;
  height: 18%;
  font-size: 1.3em;
  font-size: 1.3vw;
  outline: none;
}

#add_band:hover {
  background-color: yellow !important;
  color: black !important;
}

.tour_status {
  float: right;
  text-align: center;
  margin-right: 30px;
  font-size: 2em;
  width: 50%;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: #FFFF00;
}


.favorites_menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 25%;
  background-color: black;
  opacity: 0.8;
  border-left: 5px solid gray;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  box-shadow: -5px -5px 20px black;
  padding: 0px 0px;
}

.favorites_menu div{
  display: list-item;
}

.nofaves {
  width: 0px !important;
  right: -150px;
}

.faves {
  width: 25% !important;
}


.favorites_band_item {
  padding: 5px 5px;
  border-bottom: 1px solid rgb(65, 61, 21);
  list-style: none;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
}

.favorites_band_item:hover {
  background-color: #313131 !important;
  border-bottom: 1px solid gray;
}


.favorites_band_remove {
  position: absolute;
  right: 0;
  color: gray;
  background-color: transparent;
  width: 10%;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  outline: none;
}


.favorites_band_remove:hover{
  background-color: transparent;
  color: #FFFF00;
  outline: none;
  
}

.favorites_band_name {
  color: white !important;
  z-index: 100000;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 200;
  font-size: 1em;
  font-size: 1.3vw;
}

.favorites_band_image {
  margin-right: 15px;
  width: 3em;
}

.favorites_save, .logout {
  position: absolute;
  bottom: 0;
  /*top: 100%;*/
  width: 100%;
  background-color: rgb(255, 237, 0);
  color: black;
  overflow: auto;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  font-size: 1.5vw;
}

.favorites_save:hover, .logout:hover {
  background-color: rgb(244, 255, 38) !important;
  color: black !important;
}

/*///////////////SIGN UP///////////////*/

.signup {
  margin-top: 20px;
  padding: 0px 20px;
  list-style: none;
}


#sign_up_message {
  color: white;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.3em;
  font-size: 1.5vw;
  margin-bottom: 20px;
}


input[type=tel] {
  font-size: 1.2em;
  font-size: 1.3vw;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
}

input[type=password] {
  font-size: 1.2em;
  font-size: 1.3vw;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
}

