<%= render "favorites/favorites", artists: @artists %>

<% if @user.guest == false %>
  <%= link_to '<button class="logout">Logout</button>'.html_safe, session_path(session), :method => :delete %>
<% else %>
  <button class="favorites_save">Notify Me!</div>
<% end %>