<div class="row fullWidth">

  <div class="small-9 large-12 columns">
    
    <div class="search_container">
      
      <input type="text" name="artist-search" id="search_box" placeholder="search your favorite artists..."/>
      
      <h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>
      
      <div id="band_container">
        <div class="local_shows_list"></div>
      </div>
    
      <h3 class="login">
        <strong><%= link_to "Login", new_session_path, id: "login_link" %></strong> to Edit Favorites
      </h3>

    </div>
    
  </div>

  <div class="small-3 large-0 columns favorites_menu nofaves" id="favorites-menu">
    
    <button class="favorites_save">Notify Me!</div>

  </div>

</div>