<div class="row fullWidth">

  <div class="small-9 large-12 columns">
  
    <div class="search_with_faves">
      <input type="text" name="artist-search" id="search_box" placeholder="search your favorite artists..."/>
        
      <h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>
        
      <div id="band_container">
        <div class="local_shows_list"></div>
      </div>
      
    </div>
  
  </div>

  <div class="small-3 large-0 columns favorites_menu" id="favorites-menu">
    <%= render "favorites_menu" %>
  </div>

</div>