<div class="row">
	<div class="small-2 large-4 columns">
		<img src="assets/shogogo.svg" onerror="this.onerror=null; this.src='shogogo.png'">
	</div>
</div>

<div class="row">
  <div class="large-8 large-centered columns">
		<input type="text" id="search_box" placeholder="search for favorite artists..."/>
  </div>
</div>

<h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>

<div id="band_container"></div>
<div class="favorites_menu"></div>
