<input type="text" id="search_box" placeholder="search for favorite artists..."/>
<h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>
<div id="band_container"></div>
<div class="favorites_menu"></div>
