<<<<<<< HEAD

<input type="text" id="search_box" placeholder="search for favorite artists..."/>
=======
<input type="text" id="search_box" placeholder="e.g. Fiona Apple"/>
>>>>>>> d31df3c86feb2505dea8d883d532212a61f072dd
<h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>
<div id="band_container"></div>
<div class="favorites_menu"></div>
