
<div class="row fullWidth">

  <div class="small-9 large-9 columns hello">

    <input type="text" id="search_box" placeholder="search for favorite artists..."/>
        <h2 id="search_message">Start tracking your favorite artists.<br>Get text updates of upcoming shows near you.</h2>
        <div id="band_container"></div>
    </div>

  </div>
  <div class="small-3 large-3 columns favorites_menu nofaves" id="favorites-menu"></div>
</div>
